.body_design {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url(IMG/bgdesign.png);
}
/* ----------NAV-BAR---------- */
.container {
	width: 100%;
	background-color: #2b3467;
}
.Menu-bar {
	padding: 1rem;
}
.Menu-bar ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}
.Menu-bar ul li {
	display: inline-block;
}
.Menu-bar ul li .b_ef img {
	width: 1rem;
}
.Menu-bar ul li .b_ef {
	text-decoration: none;
	color: #fff5e4;
	margin-left: 12px;
	font-family: kizerd;
	transition: all 0.1s linear;
	position: relative;
}
.Menu-bar ul li .b_ef:hover {
	color: #eb6540;
}

.Menu-bar ul li .b_ef:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	padding: 1px 0px 0px 1px;
	border-radius: 3.5rem;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.Menu-bar ul li .b_ef:hover:after {
	transform: scaleX(1);

	transform-origin: bottom left;
}
.text h1 {
	font-size: 3rem;
	font-family: medin;
	text-align: center;
	padding: 2rem;
	color: #3f0071;
}
.text h1 span {
	color: #fb2576;
}
