body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url(bgi.gif);
}

.container {
	width: 100%;
	background-color: #2b3467;
}
.Menu-bar {
	padding: 1rem;
}
.Menu-bar ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}
.Menu-bar ul li {
	display: inline-block;
}
.Menu-bar ul li a img {
	width: 1rem;
}
.Menu-bar ul li a {
	text-decoration: none;
	color: #fff5e4;
	padding: 1rem;
	font-family: kizerd;
	transition: all 0.1s linear;
}
.Menu-bar ul li:hover a {
	cursor: pointer;
	color: #000000;
	background-color: #3a4f7a;
}
.About {
	margin-top: 25%;
	margin-left: 25%;
}
.About span a {
    font-family: medin;
    padding: .75rem;
    background-color: #EB6440;
    color: #ffffffe3;
    border-radius: 1.5rem;
	text-decoration: none;
    transition: .2s;
}
.About span:hover a {
    background-color: #ffffffe3;
    color: #EB6440;

}


@media (max-width: 600px) {
	.Menu-bar{
		display: inline;
	}
	.Menu-bar ul li a{
		font-size: 10px;
	}
}